<!doctype html>
<html ng-app="notesApp">
<head>
<meta charset="utf-8">
<title>Notes App</title>
<style>
.username.ng-valid{
	background-color: green;
}
.username.ng-dirty.ng-invalid-required{
	background-color: red;
}
.username.ng-dirty.ng-invalid-minlength{
	background-color: lightpink;
}
</style>
</head>
<body ng-controller="MainCtrl as ctrl">
<form ng-submit="ctrl.submit()" name="myForm">
	<input type="text"
		class="username"
		name="uname"
		ng-model="ctrl.user.username"
		required
		ng-minlength="4">
	<br>
	<span ng-show="myForm.uname.$error.required">
		This is a required field
	</span>
	<span ng-show="myForm.uname.$error.minlength">
		Minimum length required is 4
	</span>
	<span ng-show="myForm.uname.$invalid">
		This field is invalid
	</span>
	<br>
	<input type="password"
		name="pwd" 
		ng-model="ctrl.user.password"
		required>
	<br>
	<span ng-show="myForm.pwd.$error.required">
		This is a required field
	</span>
	<br>
	<br>
	<input type="submit" 
		value="Submit"
		ng-disabled="myForm.$invalid">
</form>

<!-- checkbox start -->
<div ng-repeat="sport in ctrl.sports">
	<label ng-bind="sport.label"></label>
	<div>
		With Binding:
		<input type="checkbox"
			ng-model="sport.selected"
			ng-true-value="'YES'"
			ng-false-value="'NO'">
	</div>
	<div>
		Useing ng-checked:
		<input type="checkbox"
			ng-checked="sport.selected === 'YES'">
	</div>
	<div>
		Current state: {{sport.selected}}
	</div>
	<hr>
</div>
<!-- checkbox end -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js"></script>	
<script>
angular.module('notesApp', [])
	.controller('MainCtrl', [function(){
		var self = this;
		self.sports = [
			{label: 'Basketball', selected: 'YES'},
			{label: 'Cricket', selected: 'NO'},
			{label: 'Soccer', selected: 'NO'},
			{label: 'Swimming', selected: 'YES'}
		];
		self.submit = function(){
			console.log('User clicked submit with ', self.user);
		};
	}]);
</script>
</body>
</html>