.todolist{
	max-width: 750px;
	margin: 0 auto;
	.table{
		th{
			&.number{
				width: 20%;
			}
			&.title{
				width: 50%;
			}
			&.control{
				width: 30%;
				text-align: center;
			}
		}
		td{
			&:nth-child(3n){
				text-align: center;
			}
			&:last-child{
				text-align: center;
			}
			.strike{
				text-decoration: line-through;
				color: #aaa;
			}
			.nonstrike{
				text-decoration: none;
			}
		}
	}
}